<div class="alert alert-danger" role="alert">
	<h1 style="color:#A94442"><b>WARNING:</b></h1>
	<h3> This is not a production website as it is only being used for testing during an online course. No products are actually for sale. Please do not enter your actual credit card and personal information to purchase a product as nothing will actually happen. Thank you.</h3>
</div>

<%= render 'form' %>

<%= link_to 'Back', listing_orders_path %>
