<!-- <div class="footer">
	<br/><br/>
	<p>Copyright &copy; 2015</p>
</div> -->

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p>Copyright &copy; 2015</p>
  </div>
</nav>